*{
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%
}
body{
    margin: 0rem;
}

/* ***************************************** HEADER *********************************** */

header{
    display:flex;
    background-color: rgb(238, 238, 235);
}
.image{
    flex: 20%;
    text-align: end;
    padding: 5rem .5rem 3rem 0.5rem;
}
.mypic{
    border-radius: 50%;
    box-shadow: .6rem .6rem 1rem -.1rem rgba(0,0,0,0.15),
    -.6rem -.6rem 1rem -.1rem rgba(255,255,255,0.7);
}
.name{
    flex: 40%;
}
.nameheading{
    font-size: 5rem;
    line-height: 12rem;
    font-family: 'Audiowide';
    background-color: rgb(238, 238, 235);
    box-shadow: .6rem .6rem 1rem -.1rem rgba(0,0,0,0.15),
                -.6rem -.6rem 1rem -.1rem rgba(255,255,255,0.7),
                inset .6rem .6rem 1rem -.1rem rgba(255,255,255,0.15);
}
.headerlinks{
    flex: 40%;
    text-align: end;
}
.headerlinks a{
    /* background-color: royalblue; */
    font-size: 2.5rem;
    margin:0rem 2rem 0rem 4rem;
    line-height: 22rem;
    text-decoration: none;
    color: black;
    font-family: 'Heebo', sans-serif;;
    box-shadow: .6rem .6rem 1rem -.1rem rgba(255,255,255,0.7),
                -.6rem -.6rem 1rem -.1rem rgba(0,0,0,0.15);
    border:0.1rem solid rgba(0,0,0,0);
}
.headerlinks a:hover{
    color: red;
    font-size: 2.3rem;
    box-shadow: inset .4rem .4rem .6rem -.1rem rgba(0,0,0,0.2),
               inset -.4rem -.4rem 6rem -.1rem rgba(255,255,255,0.7),
               -0.05rem -0.05rem 0rem rgba(255,255,255,1),
               0.05rem 0.05rem 0rem rgba(0,0,0,0.15),
               0rem 1.2rem 1rem -1rem rgba(0,0,0,0.05);
    border: .1rem solid rgba(0,0,0,0.01);
}

/* *********************************** RESPONSIVE HEADER ********************************* */

@media screen and (max-width: 850px) {
    header, .headerlinks{   
      flex-direction: column;
    }
    .image{
        text-align: center;
        padding: 3rem .2rem .5rem .2rem;
    }
    .name{
        flex: 40%;
        text-align: center;
        padding:1rem .2rem;
    }
    .nameheading{
        font-size: 5rem;
        line-height: 8rem;
    }
    .headerlinks{
        text-align: center;
    }
    .headerlinks a{
       line-height: 9rem;
       margin: 0rem 5rem 0rem 5rem;
    }
}

/* ************************************ HEADER END *********************************** */

/* ************************************ MAIN  *********************************** */

main{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: palegreen;
}
.main-left{
    flex: 34%;
    background-color: #F4F3F2 ;
}
.resumeimg{
    width: 100%;
    border-radius: 50%;
    padding: 1rem;
}
.myname{
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    margin: 0;
}
.personal-info i{
    text-align: left;
    color: black;
    font-size: 2.5rem;
    padding: 3rem 0rem 0.8rem 2rem;
}
.personal_info_right{
    font-size: 2.5rem;
    color: brown;
    font-weight: normal;
}
.education{
    padding-left: 2rem;
    letter-spacing: .4rem;
    word-spacing: 1rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-decoration: underline;
}

.education1{
    font-size:2.5rem ;
    color: brown;

}
.educationskills li{
    font-size: 6rem;
    margin-left: 2.5rem;
}

.main-right{
    flex: 66%;
    background-color: #F4F3F2;
    border-left: .01rem solid lightgrey;
}


.careerobj{
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0;
    letter-spacing: .4rem;
    word-spacing: 1rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-decoration: underline;
}
.aboutpara{
    margin-top: 0;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 3.5rem;
    color: brown;
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: .2rem;
}

.skills li{
    font-size: 6rem;
    margin-left: 2.5rem;
}
.fa-html5{
    color: rgb(243, 98, 62);

}
.fa-js{
    color: orangered;
}
.fa-bootstrap{
    color: rgb(57, 221, 57);
}
.fa-css3{
    color: palevioletred;
}
.fa-python{
    color: purple;
}

.container {
    width: 100%;
    height: 2rem;
    background-color: #ddd;
    border-radius: .5rem;
}
  
.skillbar {
    text-align: center;
    color: white;
    border-radius: .5rem;
}
.js {
    width: 65%;
    background-color: #2196F3;
}

.html {
    width: 90%;
     background-color: #2196F3;
}

.css {
    width: 80%; 
    background-color: #2196F3;
}

.bootstrap {
    width: 60%;
     background-color: #2196F3;
}

.python {
    width: 60%;
     background-color: #2196F3;
}

.skillper{
    font-size: 1.8rem;
    text-align: center;
}




.projects li{
    font-size: 4rem;
}
.prjoect-content{
    margin-top: 0;
    font-size: 3.5rem;
    color: brown;
    letter-spacing: .2rem;
    font-family: 'Libre Caslon Display', serif;
}



























/* **************************** RESPONSIVE MAIN ******************************** */


@media screen and (max-width: 850px) {
    main{   
      flex-direction: column;
      width: 75%;
    }
    .personal-info i{
        font-size: 2rem;
        padding: 3rem 0rem 0.8rem 0.5rem;
    }
    .personal_info_right{
        font-size: 2rem;
    }
    .educationskills li{
        font-size: 6rem;
        margin-left: 1rem;
    }
    .skills li{
        margin-left: 1rem;
    }
    .main-right{
        border-left: none;
    }
    

    
  
}
/* ************************************ MAIN END *********************************** */

/* ************************************ FOOTER *********************************** */

footer{
    display: flex;
}
.leftbox{
    flex: 32%;
    border-right: 0.05rem solid lightgrey;
    background: #F1F1F1  ;
}


.rightbox{
    flex: 58%;
    background: #F3F5F5 ;
}

.social-icons a{
    width:6rem;
    height:6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F3F5F5;
    margin:4rem auto;
    /* border-radius:50%; */
    font-size: 4.5rem;
    box-shadow: .6rem .6rem 1rem -.1rem rgba(255,255,255,0.7),
                -.6rem -.6rem 1rem -.1rem rgba(0,0,0,0.15),
                -.6rem -.6rem 1rem -.1rem rgba(255,255,255,0.15);;
   }
   .social-icons{
    display: flex;
    text-align: center;
    
   }
   .social-icons a:hover{
    box-shadow: inset 0.2rem 0.2rem 1.2rem rgba(0,0,0,0.2),
                inset -0.2rem -0.2rem 1.2rem rgba(255,255,255,0.4);;
    font-size: 3rem;
   }
   /* .fa-facebook-f{
    transition: all 0.3s linear;

   }
   .fa-facebook-f:hover{
       transform: scale(1.8);
   } */

   /* .fa-facebook-f:hover{
       color: sienna;
   } */
   /* .fa-twitter{
    transition: all 0.3s linear;

   }
   .fa-twitter:hover{
       transform: scale(1.5);
   }
   .fa-instagram{
    transition: all 0.3s linear;

   }
   .fa-instagram:hover{
       transform: scale(1.5);
   }
   .fa-linkedin{
    transition: all 0.3s linear;

   }
   .fa-linkedin:hover{
       transform: scale(1.5);
   }
   .fa-github{
    transition: all 0.3s linear;

   }
   .fa-github:hover{
       transform: scale(1.5);
   }
   .fa-envelope{
    transition: all 0.3s linear;

   }
   .fa-envelope:hover{
       transform: scale(1.5);
   }
   .fa-telegram{
    transition: all 0.3s linear;

   }
   .fa-telegram:hover{
       transform: scale(1.5);
   }
   .fa-whatsapp{
    transition: all 0.3s linear;

   }
   .fa-whatsapp:hover{
       transform: scale(1.5);
   }
   .fa-home{
    transition: all 0.3s linear;

   }
   .fa-home:hover{
       transform: scale(1.5);
   } */



   .social-icons a:hover i{
    color:#FFFFFF;
    /* transform:scale(0.5s); */
   }


@media screen and (max-width: 850px) {
    footer,.social-icons{   
      flex-direction: column;
    }

}

/* *********************************** FOOTER END ******************************  */

.social{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
   }
   .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height:4rem;
    margin:0rem;
    padding: 0rem;
    line-height:0rem;
    background-color:#FFFFFF;
    border:1px solid #CBCBCB;
    box-shadow:0.2rem 0.2rem 1.2rem rgba(0,0,0,0.2);
   }
   .social a:hover{
    background-color:#ee7d96;
    transition:all ease 0.5s;
   }
   .social i{
    font-size:2rem;
    color:#2B2B2B;
   }
   .social a:hover i{
    color:black;
    transition:all ease 0.2s;
   }


   .social .fa-facebook-f{
    transition: all 0.3s linear;

   }
   .social .fa-facebook-f:hover{
       transform: scale(1.5);
   } 

  
    .social .fa-twitter{
    transition: all 0.3s linear;

   }
    .social .fa-twitter:hover{
       transform: scale(1.5);
   }
   .social .fa-instagram{
    transition: all 0.3s linear;

   }
   .social .fa-instagram:hover{
       transform: scale(1.5);
   }
   .social .fa-linkedin{
    transition: all 0.3s linear;

   }
   .social .fa-linkedin:hover{
       transform: scale(1.5);
   }
   .social .fa-github{
    transition: all 0.3s linear;

   }
   .social .fa-github:hover{
       transform: scale(1.5);
   }
   .social .fa-envelope{
    transition: all 0.3s linear;

   }
   .social .fa-envelope:hover{
       transform: scale(1.5);
   }
   .social .fa-telegram{
    transition: all 0.3s linear;

   }
   .social .fa-telegram:hover{
       transform: scale(1.5);
   }
   .social .fa-whatsapp{
    transition: all 0.3s linear;

   }
   .social .fa-whatsapp:hover{
       transform: scale(1.5);
   }
   .home-left .fa-home{
    transition: all 0.3s linear;

   }
   .home-left .fa-home:hover{
       transform: scale(1.5);
   }


   /* *********************************** home left links ****************************** */ 

   .home-left{
       position: fixed;
       top: 50%;
       left: 0rem;
       transform: translateY(-50%);
    }
    .home-left a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        margin: 0rem;
        line-height: 0rem;
        background-color:#FFFFFF;
        border:1px solid #CBCBCB;
        box-shadow: 0.2rem 0.2rem 1.2rem rgba(0,0,0,0.2);
    }
    .home-left a:hover{
        background-color: #fa7474;;
        transition: all ease 0.5s;
    }
    .home-left i{
        font-size: 2rem;
        color:#2B2B2B;
    }

