* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%
}

body {
    background: gainsboro;
}


/* ************************************ HEADER *********************************** */

header {
    display: flex;
    /* background: orange; */
    max-width: 100%;
    height: 4.5rem;
    margin: 2rem 0rem;
}

header .myimage img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: 0rem 0rem 0rem 6rem;
}

header .header-nav {
    width: 114rem;
    /* background: chocolate; */
    text-align: end;
}

header .header-nav nav {
    line-height: 4.5rem;
}

header .header-nav nav a {
    font-size: 2rem;
    margin: 0rem 3rem;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    color: black;
}

header .header-nav nav a:hover {
    color: red;
}


/* /////////////////////// responsive-header ////////////////////////////////////// */

@media screen and (max-width: 850px) {
    header {
        margin: 0.2rem 0rem 2rem 0rem;
    }
    header .myimage img {
        margin: 1rem 0rem 0rem 2rem;
    }
    header .header-nav nav {
        line-height: 6rem;
    }
    header .header-nav nav a {
        margin: 0rem 2rem;
    }
    /* visibility hidden */
    header .header-nav {
        visibility: hidden;
    }
}


/* ************************************ HEADER END *********************************** */


/* ************************************ MAIN  *********************************** */

.main {
    background: lightgrey;
    display: flex;
    width: 92%;
    margin: 5rem auto;
}


/* //////////////////////////// main-left ////////////////////////////////////// */

.main_left {
    /* background: orange; */
    flex: 34%;
}

.main .main_left .myimage {
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.main .main_left .myimage img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.main_left .myname {
    /* background: cornflowerblue; */
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
}

.main_left .myname .name {
    font-size: 5.5rem;
}

.main_left .contact_info {
    /* background: cyan; */
    margin: 1rem 1rem 1rem 2rem;
}

.main_left .contact_info ul {
    list-style: none;
}

.main_left .contact_info ul li {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.main_left .contact_info .contact_heading {
    margin-bottom: 2rem;
    letter-spacing: .4rem;
    word-spacing: 1rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-decoration: underline;
}

.main_left .education_heading {
    margin: 2rem 0rem 2rem 2rem;
    letter-spacing: .4rem;
    word-spacing: 1rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-decoration: underline;
}

.main_left .educationicons {
    /* background: red; */
    margin: 1rem 0rem 1rem 2rem;
}

.main_left .educationicons ul {
    list-style: none;
}

.main_left .educationicons ul li {
    font-size: 4rem;
}

.main_left .educationicons ul p {
    font-size: 2rem;
    padding: .5rem 0rem 1rem 2.5rem;
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: .1rem;
}


/* //////////////////////////// main-right ////////////////////////////////////// */

.main_right {
    /* background: gold; */
    /* border-left: .5rem solid grey; */
    flex: 66%;
}

.main_right .career_heading {
    padding: 1rem 1rem 0rem 2rem;
    letter-spacing: .4rem;
    word-spacing: 1rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-decoration: underline;
}

.main_right .career_content .career_contentlines {
    font-size: 2rem;
    /* color: brown; */
    padding: 1rem 1rem 2rem 2rem;
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: .2rem;
    line-height: 3rem;
}


/* /////// technical skills //////// */

.main_right .technical_skills {
    /* background: #fa7474; */
    margin-left: 2rem;
    padding-bottom: 2rem;
}

.main_right .technical_skills ul {
    list-style: none;
}

.main_right .technical_skills ul li {
    font-size: 5rem;
}


/* /////////////////// skillbar-conatiner  */

.main_right .technical_skills ul .container {
    width: 95%;
    height: 2rem;
    margin: 0rem 0rem 0rem 3rem;
    background-color: grey;
    border-radius: 0.5rem;
}

.skillbar {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    border-radius: .5rem;
    animation: loading 5s infinite;
}

.skillper {
    font-size: 1.7rem;
}

.js {
    width: 65%;
    background: linear-gradient(#a0c0da, #055494);
}

.bootstrap {
    width: 60%;
    background: linear-gradient(#a0c0da, #055494);
}

.html {
    width: 90%;
    background: linear-gradient(#a0c0da, #055494);
}

.css {
    width: 80%;
    background: linear-gradient(#a0c0da, #055494);
}

.python {
    width: 60%;
    background: linear-gradient(#a0c0da, #055494);
}

@keyframes loading {
    0% {
        width: 0%;
    }
}


/* /////////////// projects /////////////////////// */

.main .main_right .projects {
    margin: 2rem 0rem 2rem 2rem;
}

.main .projects ul {
    list-style: none;
}

.main .projects ul li {
    font-size: 3rem;
    padding: 1rem 0rem;
    letter-spacing: .2rem;
}

.main .projects ul .prjoect-content {
    font-size: 2rem;
    padding: 0rem 1rem 1rem 4rem;
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: .2rem;
    line-height: 3rem;
}


/* ///////// hobbies ////// */

.horizontal_line {
    margin: 3rem 5rem 0rem 5rem;
    border-top: 1.3rem solid black;
}

.allthree {
    display: flex;
    margin: 0rem 5rem;
    justify-content: space-between;
}

.allthree .line1 {
    border-left: 1.3rem solid black;
    height: 5rem;
}

.horizontal_content {
    visibility: hidden;
}

.hobby {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 1rem 2.5rem 3rem 2rem;
}


/* //////////////////////////////// responsive-main-starts////////////////////////////////// */

@media screen and (max-width: 850px) {
    .main {
        width: 100%;
        flex-direction: column;
    }
    .main_left {
        width: 100%;
    }
    .main .main_left .myimage img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
    .main_left .myname .name {
        font-size: 5rem;
    }
    .main_left .contact_info {
        /* background: cyan; */
        margin: 1rem 1rem 1rem 2rem;
    }
    .main_left .contact_info .contact_heading {
        font-size: 2.5rem;
    }
    .main_left .contact_info ul li {
        font-size: 1.4rem;
    }
    .main_left .education_heading {
        font-size: 2.5rem;
    }
    .main_left .educationicons ul p {
        font-size: 1.4rem;
    }
    /* ////////////////////////// main-right ////////////////////////// */
    .main_right {
        width: 100%;
    }
    .main_right .career_heading {
        word-spacing: 0.1rem;
        font-size: 2.5rem;
    }
    .main_right .technical_skills ul .container {
        width: 89%;
        height: 2rem;
        margin: 0rem 2rem 0rem 3rem;
        background-color: grey;
        border-radius: 0.5rem;
    }
    .skillbar {
        font-size: 1.7rem;
    }
    .skillper {
        font-size: 1.6rem;
    }
    .main .projects ul li {
        font-size: 2.5rem;
        padding: 1rem 0rem;
        letter-spacing: .2rem;
    }
    .horizontal_line {
        border-top: 0.5rem solid rgb(51, 50, 50);
        margin: 3rem 3rem 0rem 3rem;
    }
    .allthree {
        margin: 0rem 3rem;
    }
    .allthree .line1 {
        border-left: 0.5rem solid rgb(51, 50, 50);
    }
    .hobby {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        margin: 1rem 1.5rem 3rem 1.5rem;
    }
}


/* //////////////////////////////// responsive-main-end ////////////////////////////////// */


/* ************************************ MAIN END *********************************** */


/* ************************************ FOOTER *********************************** */

footer {
    display: flex;
    justify-content: center;
    background: gainsboro;
    padding: 4rem 0rem 4rem 0rem;
}

footer .footer_items a {
    margin: 0 2rem;
    color: rgb(102, 100, 100);
}

footer .footer_items a .fa-facebook-official:hover,
.fa-instagram:hover,
.fa-github-square:hover,
.fa-linkedin-square:hover,
.fa-twitter-square:hover {
    color: rgb(6, 6, 82);
    animation: rotateicons 2s linear;
}

@keyframes rotateicons {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 850px) {
    footer .footer_items a {
        margin: 0 1rem;
    }
}


/* *********************************** FOOTER END ******************************  */


/* ##################### side bar appears/pops from right  ############################ */

#sideNav {
    width: 11rem;
    height: 100vh;
    position: fixed;
    right: -25rem;
    top: 0;
    z-index: 2;
    background: rgb(228, 226, 226);
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 2rem 2rem 0rem 2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

#menuBtn {
    width: 5rem;
    position: fixed;
    right: 6.5rem;
    top: 3.5rem;
    z-index: 2;
    cursor: pointer;
    color: #fff;
}

#menuBtn {
    visibility: hidden;
}

@media screen and (max-width: 850px) {
    #menuBtn {
        visibility: visible;
    }
    nav ul {
        margin-top: 9rem;
    }
    #menuBtn {
        width: 5rem;
        right: 2rem;
        top: 1.5rem;
        color: black;
    }
}


/* ////////////////////////////// sticky-bar side starts //////////////////////// */

.social {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    padding: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.social a:hover {
    background-color: #ee7d96;
    transition: all ease 0.5s;
}

.social i {
    font-size: 2rem;
    color: #2B2B2B;
}

.social a:hover i {
    color: black;
    transition: all ease 0.2s;
}

.social .fa-facebook-f {
    transition: all 0.3s linear;
}

.social .fa-facebook-f:hover {
    transform: scale(1.5);
}

.social .fa-twitter {
    transition: all 0.3s linear;
}

.social .fa-twitter:hover {
    transform: scale(1.5);
}

.social .fa-instagram-square {
    transition: all 0.3s linear;
}

.social .fa-instagram-square:hover {
    transform: scale(1.5);
}

.social .fa-linkedin {
    transition: all 0.3s linear;
}

.social .fa-linkedin:hover {
    transform: scale(1.5);
}

.social .fa-github {
    transition: all 0.3s linear;
}

.social .fa-github:hover {
    transform: scale(1.5);
}

.social .fa-envelope {
    transition: all 0.3s linear;
}

.social .fa-envelope:hover {
    transform: scale(1.5);
}

.social .fa-telegram {
    transition: all 0.3s linear;
}

.social .fa-telegram:hover {
    transform: scale(1.5);
}

.social .fa-whatsapp {
    transition: all 0.3s linear;
}

.social .fa-whatsapp:hover {
    transform: scale(1.5);
}

.home-left .fa-home {
    transition: all 0.3s linear;
}

.home-left .fa-home:hover {
    transform: scale(1.5);
}


/* *********************************** home left links ****************************** */

.home-left {
    position: fixed;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
}

.home-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.home-left a:hover {
    background-color: #fa7474;
    ;
    transition: all ease 0.5s;
}

.home-left i {
    font-size: 2rem;
    color: #2B2B2B;
}


/* ////////////////////////////// responsive-sticky bar side //////////////////// */

@media screen and (max-width: 850px) {
    .social,
    .home-left {
        display: none;
    }
}