* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%
}

body {
    margin: 0rem;
}


/* .bgimage {
    background-image: url(https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
} */


/* ***************************************** HEADER *********************************** */

header {
    display: flex;
    background-color: rgb(238, 238, 235);
}

.image {
    flex: 20%;
    text-align: end;
    padding: 5rem .5rem 3rem 0.5rem;
}

.mypic {
    border-radius: 50%;
    /* box-shadow: .6rem .6rem 1rem -.1rem rgba(0,0,0,0.15),
  -.6rem -.6rem 1rem -.1rem rgba(255,255,255,0.7); */
}

.name {
    flex: 40%;
}

.nameheading {
    font-size: 5rem;
    letter-spacing: .2rem;
    line-height: 12rem;
    font-family: 'Audiowide';
    background-color: rgba(238, 238, 235, 0.5);
    box-shadow: .6rem .6rem 1rem -.1rem rgba(0, 0, 0, 0.15), -.6rem -.6rem 1rem -.1rem rgba(255, 255, 255, 0.7), inset .6rem .6rem 1rem -.1rem rgba(255, 255, 255, 0.15);
}

.headerlinks {
    flex: 40%;
    text-align: end;
}

.headerlinks a {
    /* background-color: black; */
    font-size: 2.5rem;
    margin: 0rem 2rem 0rem 4rem;
    line-height: 23rem;
    text-decoration: none;
    color: black;
    font-family: 'Heebo', sans-serif;
    ;
    box-shadow: .6rem .6rem 1rem -.1rem rgba(255, 255, 255, 0.7), -.6rem -.6rem 1rem -.1rem rgba(0, 0, 0, 0.15);
    border: 0.1rem solid rgba(0, 0, 0, 0);
}

.headerlinks a:hover {
    color: red;
    font-size: 2.3rem;
    box-shadow: inset .4rem .4rem .6rem -.1rem rgba(0, 0, 0, 0.2), inset -.4rem -.4rem 6rem -.1rem rgba(255, 255, 255, 0.7), -0.05rem -0.05rem 0rem rgba(255, 255, 255, 1), 0.05rem 0.05rem 0rem rgba(0, 0, 0, 0.15), 0rem 1.2rem 1rem -1rem rgba(0, 0, 0, 0.05);
    border: .1rem solid rgba(0, 0, 0, 0.01);
}


/* *********************************** RESPONSIVE HEADER ********************************* */

@media screen and (max-width: 850px) {
    header,
    .headerlinks {
        flex-direction: column;
    }
    .image {
        text-align: center;
        padding: 3rem .2rem .5rem .2rem;
    }
    .name {
        flex: 40%;
        text-align: center;
        padding: 1rem .2rem;
    }
    .nameheading {
        font-size: 5rem;
        line-height: 8rem;
    }
    .headerlinks {
        text-align: center;
    }
    .headerlinks a {
        line-height: 9rem;
        margin: 0rem 5rem 0rem 5rem;
    }
}


/* ************************************ HEADER END *********************************** */


/* ************************************ MAIN  *********************************** */

.header1 {
    height: auto;
    width: 80%;
    margin: 50px auto 0 auto;
    justify-content: center;
    justify-items: center;
}

.heading {
    font-size: 5.5rem;
    padding-left: 1.0rem;
    font-family: 'Cantarell';
}

.para {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    font-family: 'Content';
    /* font-weight: bold; */
    color: lightslategray;
}

.main {
    display: flex;
    background-color: none;
    width: 80%;
    height: auto;
    margin: 0rem auto;
    /* margin-left: 13.0rem; */
    position: relative;
}

.mainleft1 {
    /* background: gainsboro; */
    height: auto;
    flex: 55%;
    padding-left: 2.5rem;
    margin-bottom: 1.0rem;
}

.heading1 {
    margin-top: 0rem;
    font-size: 4rem;
    letter-spacing: .2rem;
    font-family: 'Cantarell';
}

.image1 {
    width: 95%;
    height: 60rem;
}

.para1 {
    text-align: justify;
    font-family: sans-serif;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    padding-right: 3.0rem;
}

hr {
    margin-right: 3.0rem;
}


/* .para2{
    font-family: 'Content';
    font-size: 2.5rem;
    padding-right: 3.0rem;
} */


/* .heading2{
    font-size: 3.5rem;
    font-family: 'Cantarell';
} */


/* .para3{
    font-family: 'Content';
    font-size: 2.5rem;
    padding-right: 3.0rem;
} */

.para4 {
    font-family: 'Cormorant Upright';
    font: lightgrey;
}


/* .heading3{
    font-size: 3.5rem;
    font-family: 'Cantarell';
} */

.para5 {
    font-family: 'Cormorant Upright';
    font: lightgrey;
    padding-right: 2.0rem;
}

h3 {
    padding-left: 13.0rem;
}

span {
    color: red;
}

.mainright {
    /* background: rgb(236, 235, 235); */
    flex: 30%;
    height: 97rem;
    /* border-left: lightgrey; */
}

.image-right {
    width: 100%;
    height: 40%;
    padding-left: 6rem;
    padding-top: 3.5rem;
    padding-right: 6rem;
    border-radius: 1rem;
}

.para-right1 {
    font-family: 'Cormorant Upright';
    font: lightgrey;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2.8rem;
    letter-spacing: 0.15rem;
}

.para-right2 {
    font-family: sans-serif;
    font: lightgrey;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 4.0rem;
    letter-spacing: 0.2rem;
    text-decoration: underline;
}

.anchor {
    display: inline-block;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 2.0rem;
}

a {
    font-size: 40px;
    margin: 20px;
    /* color: grey; */
}

a img {
    transition: all 0.3s linear;
    color: coral;
}

a:hover img {
    transform: scale(1.5);
}

img .linkedin {
    color: coral;
}

.vertical-rule {
    border-left: .3rem solid lightgrey;
    height: 13.0rem;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

.author,
.quote {
    font-family: 'content';
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    font: lightgrey;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.btn-style {
    text-align: center;
}

#quote-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-family: 'Kalam', cursive;
    padding: 1rem 1.5rem;
    background: #455261;
    color: #fff;
    cursor: pointer;
}

#quote-btn:hover {
    background: green;
}

@media screen and (max-width: 850px) {
    /* html {
        font-size: 40%;
    } */
    .main {
        flex-direction: column;
        max-width: 100%;
    }
    .heading {
        font-size: 4rem;
    }
    .image1 {
        height: 25rem;
    }
    .para {
        font-size: 2rem;
        padding-left: 0rem 2rem;
        font-family: 'Content';
        /* font-weight: bold; */
        color: lightslategray;
    }
    .mainleft1 {
        width: 100%;
    }
    .image-right {
        width: 100%;
        height: 25%;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;
        border-radius: 1rem;
    }
    .mainright {
        height: 150rem;
        padding-bottom: 8rem;
        /* border-left: lightgrey; */
    }
}


/* ************************************ MAIN END *********************************** */


/* ************************************ FOOTER *********************************** */

footer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
}

.leftbox {
    flex: 32%;
    border-right: 0.05rem solid lightgrey;
    background: #F1F1F1;
}

.rightbox {
    flex: 58%;
    background: #F3F5F5;
}

.social-icons a {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F5F5;
    margin: 4rem auto;
    /* border-radius:50%; */
    font-size: 4.5rem;
    box-shadow: .6rem .6rem 1rem -.1rem rgba(6, 6, 6, 0.7), -.6rem -.6rem 1rem -.1rem rgba(0, 0, 0, 0.15), -.6rem -.6rem 1rem -.1rem rgba(255, 255, 255, 0.15);
    ;
}

.social-icons {
    display: flex;
    text-align: center;
}

.social-icons a:hover {
    box-shadow: inset 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2), inset -0.2rem -0.2rem 1.2rem rgba(255, 255, 255, 0.4);
    ;
    font-size: 3rem;
}


/* .fa-facebook-f{
  transition: all 0.3s linear;

 }
 .fa-facebook-f:hover{
     transform: scale(1.8);
 } */


/* .fa-facebook-f:hover{
     color: sienna;
 } */


/* .fa-twitter{
  transition: all 0.3s linear;

 }
 .fa-twitter:hover{
     transform: scale(1.5);
 }
 .fa-instagram{
  transition: all 0.3s linear;

 }
 .fa-instagram:hover{
     transform: scale(1.5);
 }
 .fa-linkedin{
  transition: all 0.3s linear;

 }
 .fa-linkedin:hover{
     transform: scale(1.5);
 }
 .fa-github{
  transition: all 0.3s linear;

 }
 .fa-github:hover{
     transform: scale(1.5);
 }
 .fa-envelope{
  transition: all 0.3s linear;

 }
 .fa-envelope:hover{
     transform: scale(1.5);
 }
 .fa-telegram{
  transition: all 0.3s linear;

 }
 .fa-telegram:hover{
     transform: scale(1.5);
 }
 .fa-whatsapp{
  transition: all 0.3s linear;

 }
 .fa-whatsapp:hover{
     transform: scale(1.5);
 }
 .fa-home{
  transition: all 0.3s linear;

 }
 .fa-home:hover{
     transform: scale(1.5);
 } */

.social-icons a:hover i {
    color: #FFFFFF;
    /* transform:scale(0.5s); */
}

@media screen and (max-width: 850px) {
    footer,
    .social-icons {
        flex-direction: column;
    }
}


/* *********************************** FOOTER END ******************************  */

.social {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    padding: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.social a:hover {
    background-color: #ee7d96;
    transition: all ease 0.5s;
}

.social i {
    font-size: 2rem;
    color: #2B2B2B;
}

.social a:hover i {
    color: black;
    transition: all ease 0.2s;
}

.social .fa-facebook-f {
    transition: all 0.3s linear;
}

.social .fa-facebook-f:hover {
    transform: scale(1.5);
}

.social .fa-twitter {
    transition: all 0.3s linear;
}

.social .fa-twitter:hover {
    transform: scale(1.5);
}

.social .fa-instagram {
    transition: all 0.3s linear;
}

.social .fa-instagram:hover {
    transform: scale(1.5);
}

.social .fa-linkedin {
    transition: all 0.3s linear;
}

.social .fa-linkedin:hover {
    transform: scale(1.5);
}

.social .fa-github {
    transition: all 0.3s linear;
}

.social .fa-github:hover {
    transform: scale(1.5);
}

.social .fa-envelope {
    transition: all 0.3s linear;
}

.social .fa-envelope:hover {
    transform: scale(1.5);
}

.social .fa-telegram {
    transition: all 0.3s linear;
}

.social .fa-telegram:hover {
    transform: scale(1.5);
}

.social .fa-whatsapp {
    transition: all 0.3s linear;
}

.social .fa-whatsapp:hover {
    transform: scale(1.5);
}

.home-left .fa-home {
    transition: all 0.3s linear;
}

.home-left .fa-home:hover {
    transform: scale(1.5);
}


/* *********************************** home left links ****************************** */

.home-left {
    position: fixed;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
}

.home-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.home-left a:hover {
    background-color: #fa7474;
    ;
    transition: all ease 0.5s;
}

.home-left i {
    font-size: 2rem;
    color: #2B2B2B;
}