*{
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%
}
body{
    margin: 0rem;
}

/* ************************************ FOOTER *********************************** */

footer{
    display: flex;
}
.leftbox{
    flex: 32%;
    border-right: 0.05rem solid lightgrey;
    background: #F1F1F1  ;
}
.contact-details{
    font-family: 'Bungee Inline';
    font-size: 5rem;
    text-align: center;
    letter-spacing: .5rem;
    text-decoration: underline;
}
.lefticon{
    text-align: center;
    /* text-decoration: none; */
}
.lefticon img{
    margin: 0rem 5rem 1rem 5rem;
    /* text-decoration: none; */
}
.lefticon img{
   transition: all 0.3s linear;
}
.lefticon img:hover{
    transform: scale(1.5);
 }
 

 .rightbox{
    flex: 58%;
    background: #F3F5F5 ;
}
.intouch{
    font-family: 'Bungee Inline';
    font-size: 5rem;
    text-align: center;
    letter-spacing: .5rem;
    word-spacing: .5rem;
    text-decoration: underline;
}

@media screen and (max-width: 850px) {
    footer{   
      flex-direction: column;
    }

}

/* *********************************** FOOTER END ******************************  */
