*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%
}
body{
    margin: 0rem;
}

/* ***************************************** HEADER *********************************** */

header{
    display:flex;
    background: rgb(238, 238, 235);
}
.image{
    flex: 20%;
    text-align: end;
    padding: 5rem .5rem 3rem 0.5rem;
    /* background: rgb(107, 151, 235); */
}
.mypic{
    border-radius: 50%;
}
.name{
    flex: 40%;
    /* background: violet; */
}
.nameheading{
    font-size: 5rem;
    line-height: 12rem;
    font-family: 'Audiowide';
}
.headerlinks{
    flex: 40%;
    text-align: end;
    /* background: turquoise; */
}
.headerlinks a{
    font-size: 5rem;
    margin:0rem 2rem 0rem 4rem;
    line-height: 18rem;
    text-decoration: none;
    /* color:black; */
}
.headerlinks a:hover{
    color: red;
}

/* *********************************** RESPONSIVE HEADER ********************************* */

@media screen and (max-width: 850px) {
    header, .headerlinks{   
      flex-direction: column;
    }
    .image{
        text-align: center;
        padding: 1rem .2rem;
    }
    .name{
        flex: 40%;
        text-align: center;
        padding:1rem .2rem;
    }
    .nameheading{
        font-size: 6rem;
        line-height: 5rem;
    }
    .headerlinks{
        text-align: center;
    }
    .headerlinks a{
       line-height: 5rem;
       margin: 0rem 5rem 0rem 5rem;
    }
}

/* ************************************ HEADER END *********************************** */