* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%
}

body {
    background: rgb(183, 183, 183);
}


/* ************************************ HEADER *********************************** */

header {
    display: flex;
    /* background: orange; */
    max-width: 100%;
    height: 4.5rem;
    margin: 2rem 0rem;
}

header .myimage img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: 0rem 0rem 0rem 6rem;
}

header .header-nav {
    width: 114rem;
    /* background: chocolate; */
    text-align: end;
}

header .header-nav nav {
    line-height: 4.5rem;
}

header .header-nav nav a {
    font-size: 2rem;
    margin: 0rem 3rem;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    color: black;
}

header .header-nav nav a:hover {
    color: red;
}


/* /////////////////////// responsive-header ////////////////////////////////////// */

@media screen and (max-width: 850px) {
    header {
        margin: 0.2rem 0rem 2rem 0rem;
    }
    header .myimage img {
        margin: 1rem 0rem 0rem 2rem;
    }
    header .header-nav nav {
        line-height: 6rem;
    }
    header .header-nav nav a {
        margin: 0rem 2rem;
    }
    /* visibility hidden */
    header .header-nav {
        visibility: hidden;
    }
}


/* ************************************ HEADER END *********************************** */


/* ************************************ MAIN  *********************************** */

.header1 {
    height: auto;
    width: 80%;
    margin: 50px auto 0 auto;
    justify-content: center;
    justify-items: center;
}

.heading {
    font-size: 5.5rem;
    padding-left: 1.0rem;
    font-family: 'Cantarell';
}

.para {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    font-family: 'Content';
    /* font-weight: bold; */
    color: lightslategray;
}

.main {
    display: flex;
    background-color: lightgrey;
    width: 80%;
    height: auto;
    margin: 0rem auto;
    /* margin-left: 13.0rem; */
    position: relative;
}

.mainleft1 {
    /* background: gainsboro; */
    height: auto;
    flex: 55%;
    padding-left: 2.5rem;
    margin-bottom: 1.0rem;
}

.heading1 {
    margin-top: 0rem;
    font-size: 4rem;
    letter-spacing: .2rem;
    font-family: 'Cantarell';
}

.image1 {
    width: 95%;
    height: 60rem;
}

.para1 {
    text-align: justify;
    font-family: sans-serif;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    padding-right: 3.0rem;
}

hr {
    margin-right: 3.0rem;
}


/* .para2{
   font-family: 'Content';
   font-size: 2.5rem;
   padding-right: 3.0rem;
} */


/* .heading2{
   font-size: 3.5rem;
   font-family: 'Cantarell';
} */


/* .para3{
   font-family: 'Content';
   font-size: 2.5rem;
   padding-right: 3.0rem;
} */

.para4 {
    font-family: 'Cormorant Upright';
    font: lightgrey;
}


/* .heading3{
   font-size: 3.5rem;
   font-family: 'Cantarell';
} */

.para5 {
    font-family: 'Cormorant Upright';
    font: lightgrey;
    padding-right: 2.0rem;
}

h3 {
    padding-left: 13.0rem;
}

span {
    color: red;
}

.mainright {
    /* background: rgb(236, 235, 235); */
    flex: 30%;
    height: 97rem;
    /* border-left: lightgrey; */
}

.image-right {
    width: 100%;
    height: 40%;
    padding-left: 6rem;
    padding-top: 3.5rem;
    padding-right: 6rem;
    border-radius: 1rem;
}

.para-right1 {
    font-family: 'Cormorant Upright';
    font: lightgrey;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2.8rem;
    letter-spacing: 0.15rem;
}

.para-right2 {
    font-family: sans-serif;
    font: lightgrey;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 4.0rem;
    letter-spacing: 0.2rem;
    text-decoration: underline;
}

.anchor {
    display: inline-block;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 2.0rem;
}

a {
    font-size: 40px;
    margin: 20px;
    /* color: grey; */
}

a img {
    transition: all 0.3s linear;
    color: coral;
}

a:hover img {
    transform: scale(1.5);
}

img .linkedin {
    color: coral;
}

.vertical-rule {
    border-left: .3rem solid black;
    height: 13.0rem;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

.author,
.quote {
    font-family: 'content';
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    font: lightgrey;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.btn-style {
    text-align: center;
}

#quote-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-family: 'Kalam', cursive;
    padding: 1rem 1.5rem;
    background: #455261;
    color: #fff;
    cursor: pointer;
}

#quote-btn:hover {
    background: green;
}

@media screen and (max-width: 850px) {
    /* html {
       font-size: 40%;
   } */
    .main {
        flex-direction: column;
        max-width: 100%;
    }
    .heading {
        font-size: 4rem;
    }
    .image1 {
        height: 25rem;
    }
    .para {
        font-size: 2rem;
        padding-left: 0rem 2rem;
        font-family: 'Content';
        /* font-weight: bold; */
        color: lightslategray;
    }
    .mainleft1 {
        width: 100%;
    }
    .image-right {
        width: 100%;
        height: 25%;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;
        border-radius: 1rem;
    }
    .mainright {
        height: 150rem;
        padding-bottom: 8rem;
        /* border-left: lightgrey; */
    }
}


/* //////////////////////////////// responsive-main-end ////////////////////////////////// */


/* ************************************ MAIN END *********************************** */


/* ************************************ FOOTER *********************************** */

footer {
    display: flex;
    justify-content: center;
    /* background: gainsboro; */
    padding: 4rem 0rem 4rem 0rem;
}

footer .footer_items a {
    margin: 0 2rem;
    color: rgb(102, 100, 100);
}

footer .footer_items a .fa-facebook-official:hover,
.fa-instagram:hover,
.fa-github-square:hover,
.fa-linkedin-square:hover,
.fa-twitter-square:hover {
    color: rgb(6, 6, 82);
    animation: rotateicons 2s linear;
}

@keyframes rotateicons {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 850px) {
    footer .footer_items a {
        margin: 0 1rem;
    }
}


/* *********************************** FOOTER END ******************************  */


/* ##################### side bar appears/pops from right  ############################ */

#sideNav {
    width: 11rem;
    height: 100vh;
    position: fixed;
    right: -25rem;
    top: 0;
    z-index: 2;
    background: rgb(228, 226, 226);
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 2rem 2rem 0rem 2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

#menuBtn {
    width: 5rem;
    position: fixed;
    right: 6.5rem;
    top: 3.5rem;
    z-index: 2;
    cursor: pointer;
    color: #fff;
}

#menuBtn {
    visibility: hidden;
}

@media screen and (max-width: 850px) {
    #menuBtn {
        visibility: visible;
    }
    nav ul {
        margin-top: 9rem;
    }
    #menuBtn {
        width: 5rem;
        right: 2rem;
        top: 1.5rem;
        color: black;
    }
}


/* ////////////////////////////// sticky-bar side starts //////////////////////// */

.social {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    padding: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.social a:hover {
    background-color: #ee7d96;
    transition: all ease 0.5s;
}

.social i {
    font-size: 2rem;
    color: #2B2B2B;
}

.social a:hover i {
    color: black;
    transition: all ease 0.2s;
}

.social .fa-facebook-f {
    transition: all 0.3s linear;
}

.social .fa-facebook-f:hover {
    transform: scale(1.5);
}

.social .fa-twitter {
    transition: all 0.3s linear;
}

.social .fa-twitter:hover {
    transform: scale(1.5);
}

.social .fa-instagram-square {
    transition: all 0.3s linear;
}

.social .fa-instagram-square:hover {
    transform: scale(1.5);
}

.social .fa-linkedin {
    transition: all 0.3s linear;
}

.social .fa-linkedin:hover {
    transform: scale(1.5);
}

.social .fa-github {
    transition: all 0.3s linear;
}

.social .fa-github:hover {
    transform: scale(1.5);
}

.social .fa-envelope {
    transition: all 0.3s linear;
}

.social .fa-envelope:hover {
    transform: scale(1.5);
}

.social .fa-telegram {
    transition: all 0.3s linear;
}

.social .fa-telegram:hover {
    transform: scale(1.5);
}

.social .fa-whatsapp {
    transition: all 0.3s linear;
}

.social .fa-whatsapp:hover {
    transform: scale(1.5);
}

.home-left .fa-home {
    transition: all 0.3s linear;
}

.home-left .fa-home:hover {
    transform: scale(1.5);
}


/* *********************************** home left links ****************************** */

.home-left {
    position: fixed;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
}

.home-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.home-left a:hover {
    background-color: #fa7474;
    ;
    transition: all ease 0.5s;
}

.home-left i {
    font-size: 2rem;
    color: #2B2B2B;
}


/* ////////////////////////////// responsive-sticky bar side //////////////////// */

@media screen and (max-width: 850px) {
    .social,
    .home-left {
        display: none;
    }
}