* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%
}

body {
    background: gainsboro;
}


/* ************************************ HEADER *********************************** */

header {
    display: flex;
    /* background: orange; */
    max-width: 100%;
    height: 4.5rem;
    margin: 2rem 0rem;
}

header .myimage img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: 0rem 0rem 0rem 6rem;
}

header .header-nav {
    width: 114rem;
    /* background: chocolate; */
    text-align: end;
}

header .header-nav nav {
    line-height: 4.5rem;
}

header .header-nav nav a {
    font-size: 2rem;
    margin: 0rem 3rem;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    color: black;
}

header .header-nav nav a:hover {
    color: red;
}


/* /////////////////////// responsive-header ////////////////////////////////////// */

@media screen and (max-width: 850px) {
    header {
        margin: 0.2rem 0rem 2rem 0rem;
    }
    header .myimage img {
        margin: 1rem 0rem 0rem 2rem;
    }
    header .header-nav nav {
        line-height: 6rem;
    }
    header .header-nav nav a {
        margin: 0rem 2rem;
    }
    /* visibility hidden */
    header .header-nav {
        visibility: hidden;
    }
}


/* ************************************ HEADER END *********************************** */


/* ************************************ MAIN  *********************************** */

.main {
    /* background: chartreuse; */
    margin: 4rem 4.8rem 0rem 4.8rem;
}

.main .intro,
.project {
    /* background: chocolate; */
    width: 100%;
    justify-content: left;
    padding-left: 1rem;
    margin: 0rem;
    transform-origin: right center;
    opacity: 0;
    animation-delay: 0.5s;
    animation-name: slideX;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes slideX {
    FROM {
        transform: scaleX(0);
        opacity: 1;
    }
    TO {
        transform: scaleX(1);
        opacity: 1;
    }
}

.main .intro .intro_heading {
    font-size: 4rem;
    letter-spacing: .2rem;
}

.intro_flex {
    display: flex;
}


/* intro-para */

.main .intro_content {
    /* background: cornflowerblue; */
    flex: 40%;
    /* padding of intro part and animation */
    padding: 0rem 1rem 0rem 1rem;
    transform-origin: right center;
    opacity: 0;
    animation-delay: 0.5s;
    animation-name: slideY;
    animation-duration: 2s;
    animation-fill-mode: both;
    margin-right: 5rem;
}

@keyframes slideY {
    FROM {
        transform: scaleY(0);
        opacity: 1;
    }
    TO {
        transform: scaleY(1);
        opacity: 1;
    }
}

.main .intro_content .intro_para {
    padding: 1rem 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    line-height: 2.5rem;
    font-family: sans-serif;
}

.main .project .intro_heading {
    font-size: 4rem;
    letter-spacing: .2rem;
}


/* ///////////// my-photo-about_section //////////// */

.main .intro_flex .myimage {
    flex: 40%;
}

.main .intro_flex .myimage img {
    max-width: 80%;
    padding: 0rem 2rem 0rem 0rem;
    margin-left: 10rem;
    border-radius: 10rem;
}

.main .intro_flex .myimage img:hover {
    animation: rotateimg 1s linear;
}

@keyframes rotateimg {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}


/* ///////////// my-photo-about_section end//////////// */


/*  //////////////////            skils         ///////////////////// */

ol {
    font-size: 2rem;
    padding-left: 3rem;
}


/* ////////////////////////////////// responsive-main //////////////////////////////////// */

@media screen and (max-width: 850px) {
    .main {
        margin: 1rem 0rem;
    }
    .main .intro_content {
        padding-left: .7rem;
    }
    .main .intro .intro_heading {
        padding-top: 2.5rem;
        font-size: 3rem;
    }
    .main .project_content ul {
        padding-left: .5rem;
    }
    .intro_flex {
        flex-direction: column;
    }
    .main .intro_content {
        max-width: 100%;
        margin-right: 0rem;
    }
    .main .intro_flex .myimage img {
        max-width: 100%;
        margin-left: 0rem;
        padding: 1rem;
    }
}


/* //////////////////////////////// responsive-main-end ////////////////////////////////// */


/* ************************************ MAIN END *********************************** */


/* ##################### side bar appears from right  ############################ */

#sideNav {
    width: 25rem;
    height: 100vh;
    position: fixed;
    right: -25rem;
    top: 0;
    z-index: 2;
    background: #2B2B2B;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 5rem 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

#menuBtn {
    width: 5rem;
    position: fixed;
    right: 6.5rem;
    top: 3.5rem;
    z-index: 2;
    cursor: pointer;
    color: #fff;
}

#menuBtn {
    visibility: hidden;
}

@media screen and (max-width: 850px) {
    #menuBtn {
        visibility: visible;
    }
    #menuBtn {
        width: 5rem;
        right: 2rem;
        top: 1.5rem;
        color: black;
    }
}


/* ##################### side bar appears from right ends  ############################ */


/* ************************************ FOOTER *********************************** */

footer {
    display: flex;
    justify-content: center;
    background: gainsboro;
    padding: 2rem 0rem 2rem 0rem;
}

footer .footer_items a {
    margin: 0 2rem;
    color: rgb(102, 100, 100);
}

footer .footer_items a .fa-facebook-official:hover,
.fa-instagram:hover,
.fa-github-square:hover,
.fa-linkedin-square:hover,
.fa-twitter-square:hover {
    color: rgb(6, 6, 82);
    animation: rotateicons 2s linear;
}

@keyframes rotateicons {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 850px) {
    footer .footer_items a {
        margin: 0 1rem;
    }
}


/* *********************************** FOOTER END ******************************  */


/* ////////////////////////////// sticky-bar side starts //////////////////////// */

.social {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    padding: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.social a:hover {
    background-color: #ee7d96;
    transition: all ease 0.5s;
}

.social i {
    font-size: 2rem;
    color: #2B2B2B;
}

.social a:hover i {
    color: black;
    transition: all ease 0.2s;
}

.social .fa-facebook-f {
    transition: all 0.3s linear;
}

.social .fa-facebook-f:hover {
    transform: scale(1.5);
}

.social .fa-twitter {
    transition: all 0.3s linear;
}

.social .fa-twitter:hover {
    transform: scale(1.5);
}

.social .fa-instagram {
    transition: all 0.3s linear;
}

.social .fa-instagram:hover {
    transform: scale(1.5);
}

.social .fa-linkedin {
    transition: all 0.3s linear;
}

.social .fa-linkedin:hover {
    transform: scale(1.5);
}

.social .fa-github {
    transition: all 0.3s linear;
}

.social .fa-github:hover {
    transform: scale(1.5);
}

.social .fa-envelope {
    transition: all 0.3s linear;
}

.social .fa-envelope:hover {
    transform: scale(1.5);
}

.social .fa-telegram {
    transition: all 0.3s linear;
}

.social .fa-telegram:hover {
    transform: scale(1.5);
}

.social .fa-whatsapp {
    transition: all 0.3s linear;
}

.social .fa-whatsapp:hover {
    transform: scale(1.5);
}

.home-left .fa-home {
    transition: all 0.3s linear;
}

.home-left .fa-home:hover {
    transform: scale(1.5);
}


/* *********************************** home left links ****************************** */

.home-left {
    position: fixed;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
}

.home-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    line-height: 0rem;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.home-left a:hover {
    background-color: #fa7474;
    ;
    transition: all ease 0.5s;
}

.home-left i {
    font-size: 2rem;
    color: #2B2B2B;
}


/* ////////////////////////////// responsive-sticky bar side //////////////////// */

@media screen and (max-width: 850px) {
    .social,
    .home-left {
        display: none;
    }
}


}