*{
    margin:0;
    padding:0;
}


nav{
    margin-top: 10px;
    height:100px;
    background-color:#F8F9F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 40%;
    background-color: #F0F1EF;
    padding-left: 55px;
}

img{
   border-radius: 30%;
    alt: Avatar;
}

.name{
    color: black;
    font-family: 'Aclonica';font-size: 40px;
    padding-left: 10px;
    text-decoration: none;
}

.menu{
    width: 60%;
    background-color: #F8F9F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 70px;
}

.anchor-menu{
    color: black;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.anchor-menu:before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height:3px;
    background-color: black;
    transition: all 0.5s linear;
    }
.anchor-menu:hover:before{
    width: 100%;
    background-color: white;
}



.main{
    width:800px;
    background-color: white;
    margin-left:60px;
    padding-top: 20px;
    
  

}
p{
   font-size: 30px;
   font-family: 'Baloo Bhaina 2';font-size: 40px;
}


footer{
    width: 100%;
    height: 200px;
    background-color: #f5f5f0;
}

.leftfooter{
    width: 40%;
    height: 200px;
    background-color: #f5f5f0;
    float: left;
}

h1{
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.contact,.gmail{
    text-align: center;
    font-size: 33px;
    font-weight: bold;

}
.rightfooter{
    width: 60%;
    height: 200px;
    background-color: #f5f5f0;
    float: left;
}

.icons{
    width: 75%;
    height: 90px;
    margin: 10px auto 10px auto;
    background-color: #f5f5f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    height: 60px;
    width: 60px;
    background-color: #f5f6fa;
    border-radius: 30px;
    text-align: center;
    margin: 25px;
    line-height: 70px;
    box-shadow: 1px 4px 2px 2px #dcdde1;

}
a i{
    transition: all 0.3s linear;
}
a:hover i{
    transform: scale(1.5);
}

.fa-facebook{
    color: #e84393;
}
.fa-twitter{
    color: #e84118;
}

.fa-instagram{
    color: #0097e6;
}

.fa-github{
    color: #0097e8;
}

.fa-linkedin{
    color: #e84393;
}

