*{
    margin:0;
    padding:0;
}

.main{
    width:800px;
    background-color: white;
    margin-left:60px;
    padding-top: 20px;
}

p{
   font-size: 30px;
   font-family: 'Baloo Bhaina 2';font-size: 40px;
}
